<table class="hiragana">
    <tr>
        <th colspan="6">Hiragana Table</th>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row1"/></td>
        <td><span class="latin a">a</span><span class="hiragana a">&#12354;</span></td>
        <td><span class="latin i">i</span><span class="hiragana i">&#12356;</span></td>
        <td><span class="latin u">u</span><span class="hiragana u">&#12358;</span></td>
        <td><span class="latin e">e</span><span class="hiragana e">&#12360;</span></td>
        <td><span class="latin o">o</span><span class="hiragana o">&#12362;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row2"/></td>
        <td><span class="latin ka">ka</span><span class="hiragana ka">&#12363;</span></td>
        <td><span class="latin ki">ki</span><span class="hiragana ki">&#12365;</span></td>
        <td><span class="latin ku">ku</span><span class="hiragana ku">&#12367;</span></td>
        <td><span class="latin ke">ke</span><span class="hiragana ke">&#12369;</span></td>
        <td><span class="latin ko">ko</span><span class="hiragana ko">&#12371;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row3"/></td>
        <td><span class="latin sa">sa</span><span class="hiragana sa">&#12373;</span></td>
        <td><span class="latin shi">shi</span><span class="hiragana shi">&#12375;</span></td>
        <td><span class="latin su">su</span><span class="hiragana su">&#12377;</span></td>
        <td><span class="latin se">se</span><span class="hiragana se">&#12379;</span></td>
        <td><span class="latin so">so</span><span class="hiragana so">&#12381;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row4"/></td>
        <td><span class="latin ta">ta</span><span class="hiragana ta">&#12383;</span></td>
        <td><span class="latin chi">chi</span><span class="hiragana chi">&#12385;</span></td>
        <td><span class="latin tsu">tsu</span><span class="hiragana tsu">&#12388;</span></td>
        <td><span class="latin te">te</span><span class="hiragana te">&#12390;</span></td>
        <td><span class="latin to">to</span><span class="hiragana to">&#12392;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row5"/></td>
        <td><span class="latin na">na</span><span class="hiragana na">&#12394;</span></td>
        <td><span class="latin ni">ni</span><span class="hiragana ni">&#12395;</span></td>
        <td><span class="latin nu">nu</span><span class="hiragana nu">&#12396;</span></td>
        <td><span class="latin ne">ne</span><span class="hiragana ne">&#12397;</span></td>
        <td><span class="latin no">no</span><span class="hiragana no">&#12398;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row6"/></td>
        <td><span class="latin ha">ha</span><span class="hiragana ha">&#12399;</span></td>
        <td><span class="latin hi">hi</span><span class="hiragana hi">&#12402;</span></td>
        <td><span class="latin fu">fu</span><span class="hiragana fu">&#12405;</span></td>
        <td><span class="latin he">he</span><span class="hiragana he">&#12408;</span></td>
        <td><span class="latin ho">ho</span><span class="hiragana ho">&#12411;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row7"/></td>
        <td><span class="latin ma">ma</span><span class="hiragana ma">&#12414;</span></td>
        <td><span class="latin mi">mi</span><span class="hiragana mi">&#12415;</span></td>
        <td><span class="latin mu">mu</span><span class="hiragana mu">&#12416;</span></td>
        <td><span class="latin me">me</span><span class="hiragana me">&#12417;</span></td>
        <td><span class="latin mo">mo</span><span class="hiragana mo">&#12418;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row8"/></td>
        <td><span class="latin ya">ya</span><span class="hiragana ya">&#12420;</span></td>
        <!--<td><span class="latin mi">mi</span><span class="hiragana mi">&#12415;</span></td>-->
        <td><span class="latin yu">yu</span><span class="hiragana yu">&#12422;</span></td>
        <!--<td><span class="latin me">me</span><span class="hiragana me">&#12417;</span></td>-->
        <td><span class="latin yo">yo</span><span class="hiragana yo">&#12424;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row9"/></td>
        <td><span class="latin ra">ra</span><span class="hiragana ra">&#12425;</span></td>
        <td><span class="latin ri">ri</span><span class="hiragana ri">&#12426;</span></td>
        <td><span class="latin ru">ru</span><span class="hiragana ru">&#12427;</span></td>
        <td><span class="latin re">re</span><span class="hiragana re">&#12428;</span></td>
        <td><span class="latin ro">ro</span><span class="hiragana ro">&#12429;</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox hiragana row10"/></td>
        <td><span class="latin wa">wa</span><span class="hiragana wa">&#12431;</span></td>
        <td><span class="latin wi">wi</span><span class="hiragana wi">&#12432;</span></td>
        <td><span class="latin n">n</span><span class="hiragana n">&#12435;</span></td>
        <!--<td><span class="latin me">me</span><span class="hiragana me">&#12417;</span></td>-->
        <td><span class="latin wo">wo</span><span class="hiragana wo">&#12434;</span></td>
    </tr>
    <tr>
        <td><input class="checkbox hiragana row11" type="checkbox"></td>
        <td><span class="latin ga">ga</span><span class="hiragana ga">&#12364;</span></td>
        <td><span class="latin gi">gi</span><span class="hiragana gi">&#12366;</span></td>
        <td><span class="latin gu">gu</span><span class="hiragana gu">&#12368;</span></td>
        <td><span class="latin ge">ge</span><span class="hiragana ge">&#12370;</span></td>
        <td><span class="latin go">go</span><span class="hiragana go">&#12372;</span></td>
    </tr>
    <tr>
        <td><input class="checkbox hiragana row12" type="checkbox"></td>
        <td><span class="latin za">za</span><span class="hiragana za">&#12374;</span></td>
        <td><span class="latin ji">ji</span><span class="hiragana ji">&#12376;</span></td>
        <td><span class="latin zu">zu</span><span class="hiragana zu">&#12378;</span></td>
        <td><span class="latin ze">ze</span><span class="hiragana ze">&#12380;</span></td>
        <td><span class="latin zo">zo</span><span class="hiragana zo">&#12382;</span></td>
    </tr>
    <tr>
        <td><input class="checkbox hiragana row13" type="checkbox"></td>
        <td><span class="latin da">da</span><span class="hiragana da">&#12384;</span></td>
        <td><span class="latin ji">ji</span><span class="hiragana ji">&#12386;</span></td>
        <td><span class="latin zu">zu</span><span class="hiragana zu">&#12389;</span></td>
        <td><span class="latin de">de</span><span class="hiragana de">&#12391;</span></td>
        <td><span class="latin do">do</span><span class="hiragana do">&#12393;</span></td>
    </tr>
    <tr>
        <td><input class="checkbox hiragana row14" type="checkbox"></td>
        <td><span class="latin ba">ba</span><span class="hiragana ba">&#12400;</span></td>
        <td><span class="latin bi">bi</span><span class="hiragana bi">&#12403;</span></td>
        <td><span class="latin bu">bu</span><span class="hiragana bu">&#12406;</span></td>
        <td><span class="latin be">be</span><span class="hiragana be">&#12409;</span></td>
        <td><span class="latin bo">bo</span><span class="hiragana bo">&#12412;</span></td>
    </tr>
    <tr>
        <td><input class="checkbox hiragana row15" type="checkbox"></td>
        <td><span class="latin pa">pa</span><span class="hiragana pa">&#12401;</span></td>
        <td><span class="latin pi">pi</span><span class="hiragana pi">&#12404;</span></td>
        <td><span class="latin pu">pu</span><span class="hiragana pu">&#12407;</span></td>
        <td><span class="latin pe">pe</span><span class="hiragana pe">&#12410;</span></td>
        <td><span class="latin po">po</span><span class="hiragana po">&#12413;</span></td>
    </tr>
    <tr>
        <td colspan="6"><input type="button" value="toggle selection" class="toggle hiragana"/></td>
    </tr>
</table>