<div class="interface">
    <div class="menu">
        <p><input value="Cancel" class="cancel game" type="button"><input value="Restart" class="restart game" type="button"></p>
        <p><input readonly="readonly" class="current question" value="1" type="text"> of <input class="all question" readonly="readonly" type="text"></p>
        <p><img src="img/right.png" alt="Correct:"><input readonly="readonly" class="correct" value="0" type="text"><br> <img src="img/wrong.png" alt="Wrong:"><input readonly="readonly" class="wrong" value="0" type="text"></p>
    </div>
    <div class="area">
        <p class="actual letter"></p>
        <p class="nobutton">
            <input class="actual guess" type="text" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" />
        </p>
        <div class="button">
            <p><input type="button" class="buttona quizzbuttonchoice"/><input type="button" class="buttonb quizzbuttonchoice"/></p>
            <p><input type="button" class="buttonc quizzbuttonchoice"/><input type="button" class="buttond quizzbuttonchoice"/></p>
        </div>
    </div>
</div>
<div class="box">
    <table>
        <tr>
            <td>Count of Questions:</td>
            <td><input type="number" class="countofquestions" value="20"></td>
        </tr>
        <tr>
            <td>Show Button Choice:</td>
            <td><input type="checkbox" class="showbuttonchoice"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" class="startquiz" value="start"></td>
        </tr>
    </table>
</div>